* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--dark-blue: hsl(240, 38%, 20%);
	--grayish-blue: hsl(240, 18%, 77%);
}

/* Main container style */
#container {
	width: 100%;
	height: 100vh;
	background-image: url(../images/pattern-quotes.svg),
										url(../images/pattern-curve.svg),
										url(../images/pattern-bg.svg);
	background-repeat: no-repeat;
	background-position: top 162px left 311px, bottom left, top 75px right 70px;
	background-size: 7%, 50%, 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Slideshow container style */
#slideshow-container {
	width: 1050px;
  position: relative;
  margin: auto;
}

/*Slide style */
.mySlides {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.mySlides > img {
	width: 40%;
	box-shadow: 0px 2px 10px var(--grayish-blue);
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/*Next & Previous Btn */
#next-prev-btn-container {
	background-color: #fff;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: space-between;
	position: absolute;
	top: 94%;
	right: 284px;
	width: 100px;
  padding: 16px;
  font-weight: bold;
  transition: 0.6s ease;
  box-shadow: 0px 5px 10px var(--grayish-blue);
}

#next-prev-btn-container > img {
	cursor: pointer;
  user-select: none;

}

/* Caption style */
.caption {
	transform: translate(10%);
}

.caption .caption-text {
	font-size: 2rem;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	color: var(--dark-blue);
}

.caption .caption-owner {
	margin-top: 35px;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	color: var(--dark-blue);

}

.caption .caption-owner .occupation {
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	color: var(--grayish-blue);
	display: inline-block;
	transform: translate(10px);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Responsive Design */
@media only screen and (max-width: 600px) {
	#container {
		width: 100%;
    height: 100vh;
    outline: 2px solid #444;
    background-position: top 367px left 183px, bottom left, top 58px center;
    background-size: 20%, 79%, 85%;
	}

	/* Slideshow container style */
	#slideshow-container {
		width: 100%;
		outline: 2px solid green;
	  position: relative;
	  height: 100%;
	  display: flex;
	  align-items: center;
	}

	/*Slide style */
	.mySlides {
		flex-direction: column;
		/*align-items: center;*/
	}

	.mySlides > img {
		width: 65%;
		box-shadow: 0px 2px 10px var(--grayish-blue);
	}

	.caption {
		transform: translate(0px, 10%);
		padding: 1rem;
		text-align: center;
	}

	.caption .caption-text {
		font-size: 1.5rem;
	}

	/*Next & Previous Btn */
	#next-prev-btn-container {
		position: absolute;
		top: 44%;
		right: 162px;
	}

	.caption {
		text-align: center;
	}

	.caption .caption-owner .occupation {
		display: block;
		text-align: center;
		transform: translate(0px);
	}
}
.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
	color:#ffb4b4;
}

.social li {
  list-style-type: none;
}

.social li a {
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
.youtube{
	height:60px;
	width: 50px;
}
.instagram{
	height:40px;
	width: 40px;
}
